/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
}

i {
    padding-right: .4rem;
}


/* MAIN */
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    border: 60px solid black;
    justify-content: space-around;
    align-items: center;
}

.col {
    width: calc(96% / 7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    /* debug */
    /* border: 2px solid lightblue; */
}

.row {
    height: calc(96% / 5);
    /* debug */
    /* border: 1px solid blue; */
}

.cards {
    position: relative;
}

.cards span {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    padding: .2rem .6rem .2rem .2rem;
    color: white;
}


/* NAVIGATION */
.navigation {
    height: 70px;
    width: 100%;
    background-color: rgb(43, 42, 42);
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.exit {
    color: rgba(238, 34, 34, 0.795);
    background-color: rgb(163, 163, 163);
}

.exit, .input {
    width: 15%;
    text-align: center;
}
.input, .options {
    line-height: 50px;
}

.exit {
    line-height: 70px;
}

.input {
    text-align: center;
    display: flex;
    justify-content: center;
}

.input .icons {
    width: 48%;
}

.options {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 2.5rem;
}

.options i {
    width: calc(100% / 8);
    font-size: 1.6rem;
}

.icons {
    width: calc(100% / 8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon {
    height: 40%;
}

.fa-angle-up {
    padding-left: 1.5rem;
}
